name: Build Grasshopper Plugin

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main, develop]
    
jobs:
  build:
    strategy:
      matrix:
        configuration: [Debug, Release]

    runs-on: windows-latest  # For a list of available runner types, refer to

    env:
      Solution_Name: HoaryFox.sln
      Plugin_File_Name: HoaryFox
      Debug_File_Path: '.\HoaryFox\bin\'
      Release_File_Path: '.\HoaryFox\release\'

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          
      - name: submodules-init
        uses: snickerbockers/submodules-init@v4

      - name: Setup MSBuild.exe
        uses: microsoft/setup-msbuild@2008f912f56e61277eefaac6d1888b750582aa16

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1

      - name: Restore the application
        run: msbuild $env:Solution_Name /t:Restore /p:Configuration=$env:Configuration
        env:
          Configuration: ${{ matrix.configuration }}

      - name: Build the application
        run: msbuild $env:Solution_Name /p:Configuration=$env:Configuration
        env:
          Configuration: ${{ matrix.configuration }}

      - name: Upload release build of plugin as artefact
        if: ${{ matrix.configuration == 'Release' }} # Only upload gha from a release build
        uses: actions/upload-artifact@v2
        with:
          name: HoaryFox
          path: STBDotNet/bin/Release/
